:root {
    /* Open and Close Variable classes */
    --open: block;
    --close: none;

    /* FUNCTIONALITIES (obvious ones) */
    --primary-color-main: hsl(26, 100%, 55%);
    --secondary-color-bg: hsl(25, 100%, 94%);

    /* typography and links */
    --title-header: hsl(220, 13%, 13%);
    --link-text-clr: hsl(219, 9%, 45%);
    --text-clr: hsl(220, 14%, 75%);
    --greyed-out: hsl(223, 64%, 98%);

    /* defered colors */
    /* styles for carousel and lightbox, comes here. */

    /* tetiary colors */
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    /* typography styles */
    --max-width-text: 45ch;

    /* For Hamburger Menu */
    --bar-height: 6px;
    --bar-width: 30px;
    --animation-timing: 250ms ease-in-out;
    --hambuger-gap: .2rem;

    /* the animation of the hamburger menu, and the height of the toggles */
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hambuger-gap) * 2)
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: var(--white);
    margin: 0;
    padding: 0;
}

/* MAIN STYLES START FROM HERE. */
/* FOR DESKTOP VIEW. */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* width: 100%; */
    /* max-width: 100%; */
}

/* the header section */
header {
    display: grid;
    /* justify-content: space-between; */
    grid-template-columns: repeat(2, 1fr);
    /* gap: 3rem; */
    border-bottom: 1px solid var(--text-clr);
    padding: 30px 20px;
    /* padding-bottom: 20px; */
    margin-bottom: 70px;
}

/* THE NAV-BAR BUTTON. */
.nav-bar {
    background: none;
    border: none;
}

.nav-bar img {
    cursor: pointer;
}

/* THE NAVIGATION SECTION. */
.navigation-menu-logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* use grid for complex designs. */
}

/* change the display of the picture, so it won't take blcok space. */
.logo-section img {
    display: inline;
}

.toggle {
    display: none;
}

/* turning of the display of the nav-list and the close button in the desktop mode. */
.close-button {
    display: none;
}

/* the container for the nav-list */
.nav-container {
    display: block;
    /* visibility: hidden; */
}


.nav-list {
    display: flex;
    /* justify-content: space-between; */
    gap: 1.1rem;
    list-style: none;
    flex-direction: row;
}

.nav-items>.nav-links {
    text-decoration: none;
    color: var(--link-clr);
    line-height: 2.0;
}

.nav-links:hover {
    text-decoration: 5px underline var(--primary-color-main);

}

/* THE ACCOUNTS SECTION. */
.accounts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    position: relative;
}

/* button for cart functionality. (both open and close)*/
/* the close button */
.cart-btn {
    background: none;
    border: 0;
    cursor: pointer;
    position: relative;
}

/* the open button (cart icon) */
.open_modal_button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.accounts img:last-child {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.accounts img:last-child:hover {
    border: 2px solid var(--primary-color-main);
    border-radius: 20px;
}

/* THE INDICATOR ON THE CART FOR THE NUMBER OF ITEMS ADDED. */
.items-count {
    position: absolute;
    left: 26.5rem;
    top: 1.5rem;
    /* display: block; */
    background-color: var(--primary-color-main);
    border-radius: 50%;
    padding: .4rem .6rem;
}

/* THE SECTION FOR ALL THE MAIN CONTENTS IN THE BODY. */
.content {
    align-items: center;
    display: flex;
    justify-content: center;
}

section.main-section-forall {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

/* THE CART MODAL. */
.cart-basket {
    position: fixed;
    left: 80%;
    top: 31%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(240, 238, 238);
    background: white;
    border-radius: 20px;
    padding: 10px;
    /* transition: 1s ease-in-out; */
    /* transform-origin: top; */
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.3);
    z-index: 1;
    /* visibility: hidden; */
    /* opacity: 0; */
    overflow-y: hidden;
    min-height: 30%;
    min-width: 350px;
    display: none;
    margin: 0;
    padding: 1.5rem 0;
    /* backdrop-filter: blur(5px); */
}

/* .cart-basket::backdrop {
    background-color: red;
    filter: blur(5px);
} */

.basket-title {
    text-transform: uppercase;
    padding-bottom: 20px;
    margin: 20px 0;
    padding: 1rem;
    border-bottom: 1px solid var(--text-clr);
    display: flex;
    justify-content: space-between;
}

.basket-title p {
    margin: 10px 10px;
    font-weight: 600;
}

/* CART BASKET, FOR WHEN WE ADD TO CART. */
.basket-field {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.product-name {
    text-overflow: ellipsis;
    max-width: 60ch;
}

.checkout-report {
    display: flex;
    justify-content: center;
    gap: .6rem;
    /* align-items: flex-start; */
}

.checkout-report img {
    height: 50px;
    border-radius: 3px;
}

span.calculation {
    color: var(--link-text-clr);
    font-weight: 600;
    color: black;
}

/* THE PRICE, AFTER CALCULATION. */
.total_price {
    font-weight: 600;
}

/* the delete. */
.delete-button {
    object-fit: scale-down;
    cursor: pointer;
}

/* button for checking out. */
.checkout-btn {
    border: 0;
    background: var(--primary-color-main);
    color: white;
    font-weight: 600;
    border-radius: 10px;
    padding: 15px 130px;
    /* align-self: center; */
    cursor: pointer;
}

.open {
    display: var(--open);
}

.close {
    display: var(--close);
}

/* COMING TO OUR IMAGE CAROUSEL, for now, we style the picture. */
/* no style for main container, until we fix carousel. */

/* everything for the carousel (the main container). */
/* carousel alone (not dialog) */
.carousel {
    position: relative;
}

.carousel-slider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.slide {
    overflow: hidden;
    border-radius: 1rem;
    position: absolute;
    right: -30px;
    top: -200px;
    opacity: 0;
    transition: 250ms opacity ease-in-out;
    /* Transition delayed before next image shows */
    transition-delay: 250ms;
    cursor: pointer;
}

.slide[data-active] {
    opacity: 1;
    /* go into the new one immediately, while the new one waits. */
    transition-delay: 0;
}

.carousel-img {
    display: block;
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.carousel-indicator {
    position: absolute;
    gap: 1rem;
    z-index: 1;
    top: 200px;
    right: -20px;
    margin-top: 1rem;
}

.image-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* THE LI OF THE INDICATOR PICTURES. */
.indicator-pic {
    border-radius: .5rem;
    overflow: hidden;
}

.indicator-pic:not(.indicator-pic:nth-child(2n + 4)) {
    margin-right: 1.2rem;
}

.carousel-indicator img {
    display: block;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

button[data-buttons] {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.left_picture_button {
    left: 1rem;
}

.right_picture_button {
    right: -1rem;
}

/* === END OF CAROUSEL === */

/* GOING TO THE DETAILS SECTION */
.details {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* border: 1px solid black; */
    gap: 1.5rem;
    /* text-align: left; */
}

/* going to each sub-details, in the details section. */
/* colors would later... */
.details-company-name {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--primary-color-main);
}

.details-sneaker-header {
    text-transform: capitalize;
    font-size: 2.2rem;
    font-weight: 700;
    max-width: 20ch;
    /* text-overflow:clip; */
    color: var(--title-header);
}

.details-sneaker-text {
    max-width: var(--max-width-text);
    /* padding: 0 50px; */
    /* text-align: center; */
    line-height: 1.6;
    color: var(--link-text-clr);
}

/* the buttons and price section */
.price-tag-section {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 1.5rem;
}

/* The inner price tag and discount. */
.real-price {
    font-weight: 600;
    color: var(--title-header);
    /* display: flex; */
}

.real-price span {
    font-size: 0.8em;
    padding-left: 30px;
    color: var(--primary-color-main);
    background-color: var(--secondary-color-bg);
    border-radius: 5px;
    padding: 2px 2px;
    font-weight: inherit;
}

/* the cancelled price (former price) */
.cancelled-price {
    font-size: 0.7em;
    font-weight: 600;
    color: var(--text-clr);
    text-decoration: 1px solid line-through;
}

/* ADD TO CART SECTION. */
.add-toCart-section {
    display: flex;
    --border-radius: 10px;
    gap: 1em;
    font-weight: 600;
}

/* the add to cart button. */
/* style the svg. */
.add-toCart-btn {
    --padding-button: 10px 60px;
    border: 0;
    background: var(--primary-color-main);
    color: var(--white);
    padding: 10px 60px;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: 0 10px 10px var(--primary-color-main), .75;
}

.add-toCart-btn:hover {
    opacity: .5;
}

.add-toCart-btn img {
    width: 15px;
    height: 15px;
}

/* THE INCREMENTING AND DECREMENTING BUTTON. */
.btn-incre-decrementor {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    background: var(--greyed-out);
    border-radius: var(--border-radius);
    padding: var(--padding-button);
    padding: 10px 10px;
}

/* each of the buttons (plus and minus) */
.btn-incre-decrementor>.increase,
.decrease {
    background: none;
    border: 0;
    cursor: pointer;
    /* align-self: flex-start; */
}

.decrease:hover {
    opacity: .5;
}

.increase:hover {
    opacity: .5;
}

.btn-incre-decrementor>.decrease {
    position: relative;
    bottom: 2px;
}

/* MODALS WOULD COME INTO PLAY, FOR FUNCTIONALITY. */

/* RESPONSIVE CSS */
@media (max-width: 768px) {

    section.main-section-forall {
        flex-direction: column;
    }

    /* COMING INTO THE NAVIGATION BAR. */
    /* THE HEADER SECTION */
    /* header {
        border-bottom: none;
        margin-bottom: 0;
        padding: 10px 10px;
        justify-content: space-around;
        gap: 5rem;
        z-index: 1;
    } */

    /* REARRANGING THE HEADER ELEMENTS, USING GRID. */
    .navigation-menu-logo {
        position: relative;
        height: 100%;
    }

    /* The Toggle Menu */
    .toggle {
        display: block;
        cursor: pointer;
    }

    .nav-list {
        /* display: none; */
        /* flex-direction: column; */
        /* to make it occupy the full background. */
        /* margin: 10px; */
        padding: 70px 40px;
        position: relative;
        top: 10px;
        /* position: relative; */
        /* z-index: 1; */
    }

    .nav-links {
        font-weight: 600;
        /* margin-bottom: 20px; */
    }

    .nav-container {
        background: white;
        position: fixed;
        top: 0%;
        bottom: 100%;
        right: 50%;
        height: 100vh;
        width: 50vw;
        visibility: hidden;
        /* box-shadow: 0 0 3px rgba(0, 0, 2, .3); */
        /* z-index: 1; */
        /* visibility: visible; */
        /* display: none; */
    }

    /* my created close-button element. */
    .close-button {
        display: block;
        position: relative;
        left: 15%;
        top: -43%;
        bottom: 100;
        cursor: pointer;
        /* margin-bottom: 70px; */
    }

    .nav-container::backdrop {
        opacity: .2;
        color: red;
    }

    .hamburger-menu {
        --hamburger-margin: 8px;
        --menu-open-width: calc(var(--hamburger-height) * 1.41421356237);
        display: flex;
        flex-direction: column;
        gap: var(--hambuger-gap);
        cursor: pointer;
        outline: none;
        z-index: 2;
        position: relative;
        outline: none;
    }

    /* THE CHECKBOX TOGGLE */
    .hamburger-menu::before,
    .hamburger-menu::after {
        content: " ";
        position: absolute;
        cursor: pointer;
    }

    .hamburger-menu::before {
        top: 0;
        /* left: -2rem; */
    }

    .hamburger-menu::after {
        top: 0;
        /* left: 2rem; */
    }

    .toggle,
    .hamburger-menu::before,
    .hamburger-menu::after {
        appearance: none;
        background: black;
        height: var(--bar-height);
        width: var(--bar-width);
        position: relative;
        /* animate smoothly */
        transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing);
        /* transform-origin: left center; */
    }

    .hamburger-menu input:checked {
        pointer-events: none;
        opacity: 0;
        --foreground: #000;
        --background: #fff;
    }

    /* Focus accessibility styles */
    .hamburger-menu:has(input:focus-visible)::before,
    .hamburger-menu:has(input:focus-visible)::after,
    .hamburger-menu:has(input:focus-visible) {
        outline: 1px solid;
    }

    /* hamburger animation */
    .hamburger-menu:has(.toggle:checked)::before {
        rotate: 45deg;
        width: var(--menu-open-width);
        translate: 0 calc(var(--bar-height) / 1);
    }

    .hamburger-menu:has(.toggle:checked)::after {
        rotate: -45deg;
        width: var(--menu-open-width);
        translate: 0 calc(var(--bar-height) / -1);
    }

    .hamburger-menu:has(.toggle:checked, .toggle::before, .toggle::after)+.nav-container {
        visibility: visible;
        transition: .2s var(--background);
        transform-origin: left;
    }

    .hamburger-menu:has(.toggle:checked, .toggle::before, .toggle::after)+.nav-container .nav-list {
        visibility: visible;
        flex-direction: column;
    }

    /* FOR THE NAV BAR TO OPEN. */
    /* .nav-bar-toggle~.nav-list {
        display: block;
        flex-direction: column;
    } */

    /* THE CAROUSEL SECTION. */
    .carousel-lightbox {
        /* overflow: hidden; */
    }

    .carousel-lightbox .image-container {
        border-radius: none;
        /* width: 100vw; */
    }

    .image-container img {}

    /* THE SECTION FOR ALL THE MAIN CONTENTS IN THE BODY. */
    section.main-section-forall {
        flex-direction: column;
    }

    /* MAIN SECTION, price-tag section. */
    .price-tag-section {
        flex-direction: row;
        justify-content: space-between;
    }

    /* THE ADD-TO-CART SECTION */
    .add-toCart-section {
        flex-direction: column;
    }

    .btn-incre-decrementor {
        justify-content: space-between;
    }

}